<!--Content-->
<div class="row">
  <article class="col-md-8 col-sm-12 col-xs-12">
    <div class="title-arsenal">
      <h2 class="news-title-arsenal">Tin Mới</h2>
    </div>
    <div class="card-news-content row">
      <div class="article-media col-12">
        <a href="#">
          <img src="../../../assets/images/1564096671_412922_1564096822_noticia_normal.jpg" alt="" class="img-fuild"
               width="100%">
        </a>
      </div>
      <div class="article-content col-12">
        <div class="title-content">
          <a href="#" class="title-content-h2" style="text-decoration: none;">
            <h2>Mesut Oezil tiết lộ kế hoạch sau khi giải nghệ</h2>
          </a>
          <div class="content-news">
            <a href="#" style="text-decoration: none;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo doloremque modi consectetur sed rem error vel
              asperiores debitis accusamus, necessitatibus atque sunt laboriosam ea magnam aperiam dolore suscipit
              impedit dignissimos! </a>
          </div>
          <div class="post-info">
            <span>by <font style="color: #d61543;">Arsenal Quán</font></span>
          </div>
        </div>
      </div>
      <div class="content-news-down">
        <!--Display for desktop-->
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="p-2 bd-highlight col-4">
            <a href="#">
              <img src="../../../assets/images/0_GettyImages-1160446370.jpg" class="img-fuild" width="100%"
                   height="165px">
              <h3 class="title-laste-news" style="color: #454d59;">Saka chính thức ký bản hợp đồng trọn đời</h3>
              <div class="post-info">
                <span style="font-size: 15px; color: #454d59;">by <font
                  style="color: #d61543;">Arsenal Quán</font></span>
              </div>
            </a>
          </div>
          <div class="p-2 bd-highlight col-4">
            <a href="#">
              <img src="../../../assets/images/18142270-0-image-a-1_1567755692183.jpg" class="img-fuild" width="100%"
                   height="165px">
              <h3 class="title-laste-news" style="color: #454d59;">Mkhitaryan nói về việc thi đấu cho Arsenal</h3>
              <div class="post-info">
                <span style="font-size: 15px; color: #454d59;">by <font
                  style="color: #d61543;">Arsenal Quán</font></span>
              </div>
            </a>
          </div>
          <div class="p-2 bd-highlight col-4">
            <a href="#">
              <img src="../../../assets/images/EIhs0jRW4AEERQi.jpg" class="img-fuild" width="100%" height="165px">
              <h3 class="title-laste-news" style="color: #454d59;">Aubameyang và Laca xác định tương lai</h3>
              <div class="post-info">
                <span style="font-size: 15px; color: #454d59;">by <font
                  style="color: #d61543;">Arsenal Quán</font></span>
              </div>
            </a>
          </div>
        </div>
        <!--Display for desktop-->
        <!--Display for tablet & Mobile-->
        <div class="d-flex flex-column bd-highlight mb-3">
          <div class="p-2 bd-highlight col-12 mb-3 mt-3">
            <a href="#">
              <img src="../../../assets/images/0_GettyImages-1160446370.jpg" class="img-fuild" width="100%">
              <h3 class="title-laste-news" style="color: #454d59;">Saka chính thức ký bản hợp đồng trọn đời</h3>
              <div class="content-laste-news-moblie">
                <a href="#" style="text-decoration: none;">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo doloremque! elit. Quo doloremque...&nbsp;
                </a>
              </div>
              <div class="post-info">
                <span style="font-size: 15px; color: #454d59;">by <font
                  style="color: #d61543;">Arsenal Quán</font></span>
              </div>
            </a>
          </div>
          <div class="p-2 bd-highlight col-12 mb-3">
            <a href="#">
              <img src="../../../assets/images/18142270-0-image-a-1_1567755692183.jpg" class="img-fuild" width="100%">
              <h3 class="title-laste-news" style="color: #454d59;">Mkhitaryan nói về việc thi đấu cho Arsenals</h3>
              <div class="content-laste-news-moblie">
                <a href="#" style="text-decoration: none;">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo doloremque! elit. Quo doloremque...&nbsp;
                </a>
              </div>
              <div class="post-info">
                <span style="font-size: 15px; color: #454d59;">by <font
                  style="color: #d61543;">Arsenal Quán</font></span>
              </div>
            </a>
          </div>
          <div class="p-2 bd-highlight col-12">
            <a href="#">
              <img src="../../../assets/images/EIhs0jRW4AEERQi.jpg" class="img-fuild" width="100%">
              <h3 class="title-laste-news" style="color: #454d59;">Aubameyang và Laca xác định tương lai</h3>
              <div class="content-laste-news-moblie">
                <a href="#" style="text-decoration: none;">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo doloremque! elit. Quo doloremque...&nbsp;
                </a>
              </div>
              <div class="post-info">
                <span style="font-size: 15px; color: #454d59;">by <font
                  style="color: #d61543;">Arsenal Quán</font></span>
              </div>
            </a>
          </div>
        </div>
        <!--Display for tablet & Mobile-->
      </div>
    </div>
    <div class="pagination">
      <a href="latest-news-page.html"><i class="fas fa-angle-left"></i></a>
      <a href="#" class="active">1</a>
      <a href="latest-news-page.html">2</a>
      <a href="latest-news-page.html">3</a>
      <a href="latest-news-page.html">4</a>
      <a href="latest-news-page.html">5</a>
      <a href="#">...&nbsp;</a>
      <a href="latest-news-page.html"><i class="fas fa-angle-right"></i></a>
    </div>
    <div class="news-transfer-arsenal">
      <h2 class="news-transfer-title-arsenal">
        <a routerLink="/transfer-page">Tin chuyển nhượng</a>
      </h2>
      <div class="content-news-transfer">
        <div class="container content-news-transfer">
          <a href="#">
            <img src="../../../assets/images/18142270-0-image-a-1_1567755692183.jpg" alt=""
                 class="img-news-transfer img-fuild">
          </a>
          <div class="text-news-transfer">
            <a class="header-news-transfer" href="#">Wenger: Lionel Messi chính là thương vụ khiến tôi cảm thấy hối tiếc
              nhất</a>
            <div class="front-view-content">
              Một thông tin không hề vui vẻ gì với pháo thủ trong 24h qua đó là việc&nbsp;...
            </div>
            <div class="post-info">
              <span>by <font style="color: #d61543;">Arsenal Quán</font></span>
            </div>
          </div>
        </div>
        <div class="container content-news-transfer">
          <a href="#">
            <img src="../../../assets/images/18142270-0-image-a-1_1567755692183.jpg" alt=""
                 class="img-news-transfer img-fuild">
          </a>
          <div class="text-news-transfer">
            <a class="header-news-transfer" href="#">Wenger: Lionel Messi chính là thương vụ khiến tôi cảm thấy hối tiếc
              nhất</a>
            <div class="front-view-content">
              Một thông tin không hề vui vẻ gì với pháo thủ trong 24h qua đó là việc&nbsp;...
            </div>
            <div class="post-info">
              <span>by <font style="color: #d61543;">Arsenal Quán</font></span>
            </div>
          </div>
        </div>
        <div class="container content-news-transfer">
          <a href="#">
            <img src="../../../assets/images/18142270-0-image-a-1_1567755692183.jpg" alt=""
                 class="img-news-transfer img-fuild">
          </a>
          <div class="text-news-transfer">
            <a class="header-news-transfer" href="#">Wenger: Lionel Messi chính là thương vụ khiến tôi cảm thấy hối tiếc
              nhất</a>
            <div class="front-view-content">
              Một thông tin không hề vui vẻ gì với pháo thủ trong 24h qua đó là việc&nbsp;...
            </div>
            <div class="post-info">
              <span>by <font style="color: #d61543;">Arsenal Quán</font></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="news-arsenal">
      <h2 class="news-title-of-arsenal" style="margin-top: -26px;">
        <a routerLink="/news-page">Tin Arsenal</a>
      </h2>
      <div class="content-news-of-arsenal">
        <div class="container content-news-of-arsenal">
          <a href="#">
            <img src="../../../assets/images/18142270-0-image-a-1_1567755692183.jpg" alt=""
                 class="img-news-of-arsenal img-fuild">
          </a>
          <div class="text-news-of-arsenal">
            <a class="header-news-of-arsenal" href="#">Wenger: Lionel Messi chính là thương vụ khiến tôi cảm thấy hối
              tiếc nhất</a>
            <div class="front-view-content">
              Một thông tin không hề vui vẻ gì với pháo thủ trong 24h qua đó là việc&nbsp;...
            </div>
            <div class="post-info">
              <span>by <font style="color: #d61543;">Arsenal Quán</font></span>
            </div>
          </div>
        </div>
        <div class="container content-news-of-arsenal">
          <a href="#">
            <img src="../../../assets/images/18142270-0-image-a-1_1567755692183.jpg" alt=""
                 class="img-news-of-arsenal img-fuild">
          </a>
          <div class="text-news-of-arsenal">
            <a class="header-news-of-arsenal" href="#">Wenger: Lionel Messi chính là thương vụ khiến tôi cảm thấy hối
              tiếc nhất</a>
            <div class="front-view-content">
              Một thông tin không hề vui vẻ gì với pháo thủ trong 24h qua đó là việc&nbsp;...
            </div>
            <div class="post-info">
              <span>by <font style="color: #d61543;">Arsenal Quán</font></span>
            </div>
          </div>
        </div>
        <div class="container content-news-of-arsenal">
          <a href="#">
            <img src="../../../assets/images/18142270-0-image-a-1_1567755692183.jpg" alt=""
                 class="img-news-of-arsenal img-fuild">
          </a>
          <div class="text-news-of-arsenal">
            <a class="header-news-of-arsenal" href="#">Wenger: Lionel Messi chính là thương vụ khiến tôi cảm thấy hối
              tiếc nhất</a>
            <div class="front-view-content">
              Một thông tin không hề vui vẻ gì với pháo thủ trong 24h qua đó là việc&nbsp;...
            </div>
            <div class="post-info">
              <span>by <font style="color: #d61543;">Arsenal Quán</font></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <aside class="col-md-4 col-sm-12 col-xs-12">
    <div class="box-search">
      <h3
        style="font-family: 'SVN-AgencyFBbold'; text-transform: uppercase; border-bottom: 4px solid rgba(0, 0, 0, 0.15);padding-bottom: 18px; margin-bottom: 26px; color: #454d59;">
        Tìm kiếm</h3>
      <form id="search-form">
        <input type="text" placeholder="Từ khoá" class="search-input s">
        <button class="search-img" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
    <div class="iframe-facebook">
      <h3
        style="text-transform: uppercase; border-bottom: 4px solid rgba(0, 0, 0, 0.15);padding-bottom: 18px; margin-top: 30px; font-family: 'SVN-AgencyFBbold'; color: #454d59;">
        Facebook Arsenal Quán</h3>
      <div class="table-iframe-facebook">
        <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
          <tr>
            <td height="28" style="line-height:28px;">&nbsp;</td>
          </tr>
          <tr>
            <td style="">
              <table border="0" width="100%
                               " cellspacing="0" cellpadding="0"
                     style="border-collapse:separate;background-color:#ffffff;border:1px solid #dddfe2;border-radius:3px;font-family:Helvetica, Arial, sans-serif;margin:0px auto;">
                <tr style="padding-bottom: 8px;
                               ">
                  <td><img class="img"
                           src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-0/c0.0.1440.380a/s600x600/84983862_2650256415194747_6454647311090843648_o.jpg?_nc_cat=105&amp;_nc_sid=ca434c&amp;_nc_oc=AQkWjRhTbLBreuDjSPZyTUDy2Y7G1n2BqwqMOew3SyhryruOC0UCV-Y3PLMVoFEbeEdcp2Xd6Vy04KTOUXVYjgJo&amp;_nc_ht=scontent-sin6-2.xx&amp;oh=d04c8843c39db11a30580706a918adbc&amp;oe=5EB9F790
                               " width="100%" height="100" alt=""/></td>
                </tr>
                <tr>
                  <td style="font-size:14px;font-weight:bold;padding:8px 8px 0px 8px;text-align:center;">Arsenal Quán
                  </td>
                </tr>
                <tr>
                  <td style="color:#90949c;font-size:12px;font-weight:normal;text-align:center;
                               ">Nhóm Riêng tư · 22.274 thành viên
                  </td>
                </tr>
                <tr>
                  <td style="padding:8px 12px 12px 12px;">
                    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:100%;">
                      <tr>
                        <td style="background-color:#d61543;border-radius:3px;text-align:center;"><a style="color:#3b5998;text-decoration:none;cursor:pointer;width:100%;
                               "
                                                                                                     href="https://www.facebook.com/plugins/group/join/popup/?group_id=192954384415228&amp;source=email_campaign_plugin"
                                                                                                     target="_blank"
                                                                                                     rel="noopener">
                          <table border="0" cellspacing="0" cellpadding="3" align="center" style="border-collapse:collapse;
                               ">
                            <tr>
                              <td style="border-bottom:3px solid #d61543;border-top:3px solid #d61543;color:#FFF;font-family:Helvetica, Arial, sans-serif;font-size:12px;font-weight:bold;
                               ">Tham gia nhóm
                              </td>
                            </tr>
                          </table>
                        </a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="border-top:1px solid #dddfe2;font-size:12px;padding:8px 12px;">TIÊU CHÍ

                    - Arsenal Quán sẽ là nơi giành cho tất cả các Gooner/Goonerette giao lưu những thông tin về Arsenal
                    nói chung và bóng đá nói riêng.
                    - Nhóm k...
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="28" style="line-height:28px;">&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="outstanding-news">
      <h3
        style="text-transform: uppercase; border-bottom: 4px solid rgba(0, 0, 0, 0.15);padding-bottom: 18px; margin-bottom: 26px; font-family: 'SVN-AgencyFBbold'; color: #454d59;">
        Tin nổi bật</h3>
      <ul class="list-outstanding-news col-md-12 col-sm-12 col-xs-12">
        <li>
          <div class="post-img">
            <img src="../../../assets/images/EIhs0jRW4AEERQi.jpg" class="img-fuild" width="100%">
            <div class="post-data">
              <a href="#">Alextico chi mạnh để có được Lacazette</a>
              <div class="post-info">
                <span>by <font style="color: #d61543;">Arsenal Quán</font></span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </aside>
</div>
<!--Content-->
