<div class="row">
  <article class="col-md-8 col-sm-12 col-xs-12 ">
    <div class="content-box-news">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/"><i class="fas fa-home"></i> Trang chủ</a></li>
          <li class="breadcrumb-item"><a routerLink="/analysis-page"><i class="fas fa-newspaper"></i> Góc phân tích</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
      <header style="margin-top: 43px;">
        <a href="page-news.html" class="thecategory">Tin Arsenal</a>
        <span class="post-info">by
                                <font style="color: #d61543; ">Arsenal Quán</font>
                                </span>
        <h1 class="title-h1-news">Aubameyang và Lacazette đồng thanh lên tiếng về tương lai của mình tại Arsenal</h1>
      </header>
      <div class="featured-thumbnail">
        <img src="../../../assets/images/EIhs0jRW4AEERQi.jpg" width="100%">
      </div>
      <div class="post-content-news">
        <h3>Sau trận đấu với Chelsea, bộ đôi Auba và Laca đã trả lời phỏng vấn trước báo chí về tương lai của mình</h3>
        <p>Cuối tuần trước, tiền đạo người Pháp đã kêu gọi các đồng đội hãy cố gắng vô địch Europa League để giúp Arsene Wenger giữ được ghế HLV trưởng tại Arsenal. Mọi chuyện dường như thay đổi nhanh đến chóng mặt. Mục tiêu mà Lacazette
          đề ra với toàn đội hiện tại vẫn là vô địch Europa League. Tuy nhiên không phải để giữ chân Arsene Wenger nữa, mà là để tri ân ông.</p>
        <p>Phát biểu trên SFR Sports, Lacazette cho biết:</p>
        <p>“Tôi shock khi biết Wenger ra đi. Đó là một trận đấu rất đặc biệt. Trận đấu đầu tiên sau khi Arsene Wenger chính thức từ chức HLV trưởng Arsenal. Ban đầu chúng tôi khá ngỡ ngàng trước quyết định của ông ấy. Tuy nhiên, hiện
          tại toàn đội cần phải biết mình nên làm gì.</p>
        <div class="featured-thumbnail">
          <img src="../../../assets/images/EIhs0jRW4AEERQi.jpg" width="100%">
        </div>
        <p>“Chúng tôi cần phài kết thúc mùa giải theo cách hoàn hảo nhất. Tôi tin rằng các đồng đội của tôi ai cũng đều cảm thấy shock. Không một ai nghĩ chuyện này sẽ xảy ra [ Arsene Wenger từ chức ]. Nhưng bạn biết đấy, bóng đá là như
          vậy. Chúng tôi cần phải làm quen với điều đó.</p>
        <p>“Bây giờ thì ai cũng biết cuối mùa này ông ấy sẽ ra đi. Chúng tôi cần phải làm gì đó. Arsenal muốn vô địch Europa League để tri ân Wenger.</p>
        <p>Alexandre Lacazette đang sở hữu phong độ khá ấn tượng kể từ đầu tháng. Sau khi bình phục chấn thương, tiền đạo người Pháp đã có cho mình 6 bàn trên mọi mặt trận. Anh hiện tại đang là niềm hy vọng của Arsenal trên hàng công
          tại Europa League. Rất có thể Lacazette sẽ ra sân ngay từ đầu trong trận gặp Atletico Madrid sắp tới.</p>
        <p><strong>Nguồn: &nbsp;</strong></p>
        <p style="text-align: center;">
          <em>
            <strong>Nếu thấy bài viết hay, hãy bấm vào quảng cáo để ủng hộ team Arsenal Quán nhé! Thay mặt BQT xin chân thành cám ơn. Love you 3000 <3
            </strong>
          </em>
        </p>
      </div>
    </div>
    <div class="share-on-social">
      <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Farsevn%2F&width=450&layout=standard&action=like&size=small&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no"
              frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      <!-- Your like button code -->
      <div class="fb-like" data-href="https://www.your-domain.com/your-page.html" data-layout="standard" data-action="like" data-show-faces="true">
      </div>
    </div>
    <div class="news-proposal ">
      <h3 style="font-family: 'SVN-AgencyFBbold'; border-bottom: 4px solid rgba(0, 0, 0, 0.15); padding-bottom: 18px; margin-bottom: 26px; color: #454d59; ">Tin đề xuất</h3>
      <div class="img-news-proposal float-left col-md-6 col-sm-12
                         col-xs-12">
        <a href="#">
          <img src="../../../assets/images/1564096671_412922_1564096822_noticia_normal.jpg" width="100%" class="img-fuild">
          <div class="post-data-proposal">
            <a href="# ">Alextico chi mạnh để có được Lacazette</a>
            <div class="post-info" style="margin-top: 0;">
              <span>by <font style="color: #d61543; ">Arsenal Quán</font></span>
            </div>
          </div>
        </a>
      </div>
      <div class="img-news-proposal col-md-6 col-sm-12
                        col-xs-12">
        <a href="#">
          <img src="../../../assets/images/1564096671_412922_1564096822_noticia_normal.jpg" width="100%" class="img-fuild">
          <div class="post-data-proposal">
            <a href="# ">Alextico chi mạnh để có được Lacazette</a>
            <div class="post-info" style="margin-top: 0;">
              <span>by <font style="color: #d61543; ">Arsenal Quán</font></span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </article>
  <aside class="col-md-4 col-sm-12 col-xs-12 ">
    <div class="box-search ">
      <h3 style="font-family: 'SVN-AgencyFBbold'; text-transform: uppercase; border-bottom: 4px solid rgba(0, 0, 0, 0.15);padding-bottom: 18px; margin-bottom: 26px; color: #454d59; ">Tìm kiếm</h3>
      <form id="search-form ">
        <input type="text " placeholder="Từ khoá " class="search-input s ">
        <button class="search-img " type="submit ">
          <i class="fa fa-search "></i>
        </button>
      </form>
    </div>
    <div class="iframe-facebook ">
      <h3 style="text-transform: uppercase; border-bottom: 4px solid rgba(0, 0, 0, 0.15);padding-bottom: 18px; margin-top: 30px; font-family: 'SVN-AgencyFBbold'; color: #454d59; ">Facebook Arsenal Quán</h3>
      <div class="table-iframe-facebook ">
        <table border="0 " width="100% " cellspacing="0 " cellpadding="0 " style="border-collapse:collapse; ">
          <tr>
            <td height="28 " style="line-height:28px; ">&nbsp;</td>
          </tr>
          <tr>
            <td style=" ">
              <table border="0 " width="100% " cellspacing="0 " cellpadding="0 " style="border-collapse:separate;background-color:#ffffff;border:1px solid #dddfe2;border-radius:3px;font-family:Helvetica, Arial, sans-serif;margin:0px
                                auto; ">
                <tr style="padding-bottom: 8px; ">
                  <td><img class="img " src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-0/c0.0.1440.380a/s600x600/84983862_2650256415194747_6454647311090843648_o.jpg?_nc_cat=105&amp;_nc_sid=ca434c&amp;_nc_oc=AQkWjRhTbLBreuDjSPZyTUDy2Y7G1n2BqwqMOew3SyhryruOC0UCV-Y3PLMVoFEbeEdcp2Xd6Vy04KTOUXVYjgJo&amp;_nc_ht=scontent-sin6-2.xx&amp;oh=d04c8843c39db11a30580706a918adbc&amp;oe=5EB9F790
                                " width="100% " height="100 " alt=" " /></td>
                </tr>
                <tr>
                  <td style="font-size:14px;font-weight:bold;padding:8px 8px 0px 8px;text-align:center; ">Arsenal Quán</td>
                </tr>
                <tr>
                  <td style="color:#90949c;font-size:12px;font-weight:normal;text-align:center; ">Nhóm Riêng tư · 22.274 thành viên</td>
                </tr>
                <tr>
                  <td style="padding:8px 12px 12px 12px; ">
                    <table border="0 " cellspacing="0 " cellpadding="0 " style="border-collapse:collapse;width:100%; ">
                      <tr>
                        <td style="background-color:#d61543;border-radius:3px;text-align:center; ">
                          <a style="color:#3b5998;text-decoration:none;cursor:pointer;width:100%; " href="https://www.facebook.com/plugins/group/join/popup/?group_id=192954384415228&amp;source=email_campaign_plugin
                                " target="_blank " rel="noopener ">
                            <table border="0 " cellspacing="0 " cellpadding="3 " align="center " style="border-collapse:collapse; ">
                              <tr>
                                <td style="border-bottom:3px solid #d61543;border-top:3px solid #d61543;color:#FFF;font-family:Helvetica, Arial, sans-serif;font-size:12px;font-weight:bold; ">Tham gia nhóm</td>
                              </tr>
                            </table>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="border-top:1px solid #dddfe2;font-size:12px;padding:8px 12px; ">TIÊU CHÍ - Arsenal Quán sẽ là nơi giành cho tất cả các Gooner/Goonerette giao lưu những thông tin về Arsenal nói chung và bóng đá nói riêng. - Nhóm k...</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="28 " style="line-height:28px; ">&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="outstanding-news ">
      <h3 style="text-transform: uppercase; border-bottom: 4px solid rgba(0, 0, 0, 0.15);padding-bottom: 18px; margin-bottom: 26px; font-family: 'SVN-AgencyFBbold'; color: #454d59; ">Tin nổi bật</h3>
      <ul class="list-outstanding-news col-md-12 col-sm-12 col-xs-12 ">
        <li>
          <div class="post-img ">
            <img src="../../../assets/images/EIhs0jRW4AEERQi.jpg " class="img-fuild " width="100% ">
            <div class="post-data ">
              <a href="# ">Alextico chi mạnh để có được Lacazette</a>
              <div class="post-info ">
                <span>by <font style="color: #d61543; ">Arsenal Quán</font></span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </aside>
</div>
